
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    </head>
    <body>
      <div class="container">
            <h1 class="title">Azure CXP Search</h1>

            <form method="GET" action="/search/results">
                <input type="text" name="search_query" class="search-bar">
                <button type="submit">Search</button><br>
                <span>Search only:</span>
                <input type="checkbox" value="stackoverflow">StackOverflow
                <input type="checkbox" value="msdocs">MS Docs
                <input type="checkbox" value="icm">IcM
                <input type="checkbox" value="visualkb">VisualKB
            </form>
      </div>

</body>
</html>
