<h1>Results</h1>


    <% for(var i in test.value) { %>
        <table style="width:45%">
            <tr>
                <th style="text-align:left;font-size:18"><a href="<%=test.value[i].url%>"><%=test.value[i].name%></a></th>
            </tr>
            <tr>
                <td style="color:gray;font-size:12"><%=test.value[i].displayUrl%></td>
            </tr>
            <tr>
                <td><%=test.value[i].snippet%></td>
            </tr>
        </table>
        <br>
    <% } %>